  @import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@300&display=swap');


* {
    margin: 0px;
    padding: 0px;
   
}

:root {
    --navbar--height: 50px;
}

body {
    background-color: rgb(34, 6, 55);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55px;
    background-color: rgb(40, 23, 61);

}

nav ul {
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: -20px 23px;
}
nav ul li a{
    text-decoration: none;
    color: rgba(214, 214, 229, 0.966);
}
nav ul li a:hover{
    color: rgba(129, 129, 233, 0.949);
    font-size: 1.04rem;
}
.dropdown{
    margin-bottom: -44px;
}
#navbarDropdown{
    position: relative;
    /* margin-top: -11px; */
    /* margin-bottom: -16px; */
    list-style: none;
    margin: -8px 23px;
}
main{
    background-color: #385fdd;
    margin: -25px 0px;
    height: 100vh;
}
main hr{
    border: 0;
    background: rgb(12, 166, 45);
    height: 1.2px;
    margin: 40px 84px;
}

.devpic img {
    height: 45vh;
}


.left{
    font-size: 1.3rem;
}
.firstsection{
    display: flex;
    justify-content: space-around;
    margin: 23px 0px;
}
.leftsection{
    /* background-color: rgb(194, 30, 30); */
    margin: 99px 45px;
    font-size: 2rem;
    
}
.rightsection{
    /* background-color: rgb(194, 30, 30); */
    
}
.firstsection >div{
    width: 38%;
}
.rightsection img{
    width: 450px;
    height: 300px;
}
#element {
    color: rgb(196, 208, 21);
}
.secondsection{
    max-width: 80vw;
    margin: auto;
}
.aboutrightsection img{
    width: 450px;
    margin: 0px 120px;
    height: 459px;


}

.moreabout{
    display: flex;
    justify-content: space-around;
    font-size:20px ;
    font-family: 'Source Serif 4', serif;
    font-weight: bolder;
    /* margin: 23px 0px; */
    margin: 70px;
    margin-left: 45px;
    margin-right:180px;

}


